#container{
    background-color: rgb(29, 105, 167);
    width: 75%;
    height: 50vh;
    margin: 0 auto;
    margin-top: 25vh;

    display: flex;
    flex-direction: column;
}

.item{
    background-color: rgb(19, 175, 233);
    margin: 0.25em;

}

.um{
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 200px;
}

.dois{
    flex-grow: 1;
}

.tres{
    flex-grow: 1;
}
